<div>
  <div class="container">
    <h1>Stupid Coach</h1>
  </div>
  <div class= "question" >
    <p><%= @question %></p>
    <p>- you</p>
  </div>

  <div class="answer" >
    <p><%= @answer %></p>
    <p>- your coach</p>
  </div>

  <div id="link">
    <%= link_to'Ask a new question', ask_path %>
  </div>

</div>
