<div>
  <div>
    <h1>Stupid Coach</h1>
  </div>
  <div>
      <form class="form-group" action="/answer">
        <label for="question">Speak to your coach</label>
  </div>
  <div class="form-group">
      <input class="form-control form-control-lg" type="text" id="question" name="question" placeholder="">
  </div>
  <div class="form-group">
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
</div>
